<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/express.css">
</head>

<body>
    <div class="number1">
        <h1>This is my home page</h1>
    </div>

    <div class="number2">
        <form class="" action="/settings" method="post">
            <input type="text" name="smsCost" placeholder="enter sms cost">
            <input type="text" name="callCost" placeholder="enter call cost">
            <input type="text" name="callCost" placeholder="enter warning level">
            <input type="text" name="callCost" placeholder="enter critical level">
            <input type="submit">
        </form>
    </div>

</body>

</html>